<!--
#
#        ｜￣￣￣￣￣￣￣￣￣￣｜
#        ｜　ｙｏｕ　ａｒｅ　　｜
#        ｜　ｖａｌｉｄ　ｎｏ　｜
#        ｜ｍａｔｔｅｒ　ｗｈｏ｜
#        ｜　ｙｏｕ　ａｒｅ，　｜
#        ｜ｎｏ　ｍａｔｔｅｒ　｜
#        ｜　ｗｈａｔ　ｙｏｕ　｜
#        ｜　　　ｗａｎｔ　　　｜
#        ｜＿＿＿＿＿＿＿＿＿＿｜
#        (\_❀) ||
#        (•ㅅ•) ||
#        / 　 づ
#
-->
{% extends 'base.html' %}

{% block title %}Início - TRANSFORMA{% endblock %}

{% block content %}
    <div class="py-4">
        <!-- Ilustração / Arte de Boas-vindas -->
        <div class="mb-4">
            <h1 class="display-3 fw-bold text-dark position-relative d-inline-block">
                Boas-vindas!
            </h1>
        </div>

        <figure>
            <img src="../static/img/trans-heart.png" alt="Imagem da bandeira trans em formato de coração." width="10%">
        </figure>

        <p class="lead text-secondary mx-auto" style="font-weight: 500;">
            Somos uma iniciativa pensada em ajudar pessoas trans a se inserirem ao mercado de trabalho, além de facilitar na capacitação e na divulgação de direitos, cartilhas e oportunidades.
        </p>
    </div>
{% endblock %}